.elementor-1870 .elementor-element.elementor-element-6368069 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    border-style: solid;
    --border-style: solid;
    border-width: 1px 1px 1px 1px;
    --border-top-width: 1px;
    --border-right-width: 1px;
    --border-bottom-width: 1px;
    --border-left-width: 1px;
    border-color: #AAAAAA;
    --border-color: #AAAAAA;
    --border-radius: 10px 10px 10px 10px;
}

.elementor-1870 .elementor-element.elementor-element-6368069:not(.elementor-motion-effects-element-type-background),
.elementor-1870 .elementor-element.elementor-element-6368069>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-1870 .elementor-element.elementor-element-6368069,
.elementor-1870 .elementor-element.elementor-element-6368069::before {
    --border-transition: 0.3s;
}

.elementor-1870 .elementor-element.elementor-element-e2efdbc {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-widget-heading .elementor-heading-title {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
}

.elementor-1870 .elementor-element.elementor-element-7691901 .elementor-heading-title {
    color: #ae9571;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.elementor-widget-text-editor {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-1870 .elementor-element.elementor-element-3bb0d60 {
    color: #B7B1B1;
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 400;
}

@media(max-width:767px) {
    .elementor-1870 .elementor-element.elementor-element-6368069 {
        border-width: 2px 2px 2px 2px;
        --border-top-width: 2px;
        --border-right-width: 2px;
        --border-bottom-width: 2px;
        --border-left-width: 2px;
    }
    .elementor-1870 .elementor-element.elementor-element-7691901 .elementor-heading-title {
        font-size: 15px;
    }
    .elementor-1870 .elementor-element.elementor-element-3bb0d60 {
        font-size: 13px;
    }
}